
#admin-maincontent{
    display: flex;
}

#admin-taskbar{
   border: 1px solid black;
   height: 70vh;
   width: 10vw;
   margin-left: 0.5%;
}


#admin-option-container{
    display: flex;
    margin-left: 10vw;
    height: 70vh;
    width: 80vw; 
}

.admin-info-buttons{
    border: 1px solid black;
    height: 100%;
    width: 30%;    
}
