body{
    margin: 0px;
}

.header-container{
    box-shadow: 0px 2px 5px black;
    height: 5%;
    will-change: 100px;
    width: auto;
    display: flex;
    background-color:#787171;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-image{
    height: 100%;
    width: 300px;
    margin-left: 40%;
    padding: 0px 5px 0px 5px;
}

.login-form{
    border: 1px solid black;
    border-radius: 2px;
    margin: auto;
    margin-top: 15vh ;
    height: 50vh;
    width: 50vw;
}

.login-form-section{
    width: 70%;
    height: 25%;  
    margin-top: 2.5%;
    margin: auto;
    margin-top: 5%;
}

#login-form-input-email{
    height: 100%;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

#login-form-input-password{
    height: 100%;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

#login-button{
    height: 17%;
    width: 25%;
    border: 1px solid black;
    position: relative;
    left: 65%;
    top: 5%;
    font-size: 20px;
}