html {
    margin: 0%;
}

body{
    font-family: Ubuntu-Regular,sans-serif;
    margin: 0%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    color:azure;
    background-color: white;
    z-index: 10;
}

p{
    font-size: 1.1vw;
    margin: 0px;
    color: black;
}

div{
    color: black;
}

h2 {
    margin: 0px;
    padding: 0px;
 }

 a {
     text-decoration: none;
     color: #3E5444;
 }

/* header */
.header-container{
    position: fixed;
    box-shadow: 0.5px 0.5px 5px black;
    height: 10vh;
    width: 100%;
    background-color: #787171;
    padding-top: 2vh;
    z-index: 2;
}

.header-image{
    height: 8vh;
    width: 25vw;
    margin-left: 5%;
    margin-right: 34%;
    padding: 0px 5px 0px 5px;
}

#logo-image {
    background-image: url(../img/logo-white.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* navigation */
#nav {
    position: fixed;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    height: 100vh;
    width: 16.5vw;
    background-color: #fff;
    z-index: 1;
}
#profile-nav {
    margin-top: 15vh;
    background-color: #665f5f;
}
#job-nav {
    margin-top: 8%;
    background-color: #665f5f;
}

.nav-window {
    border-radius: 12px;
    min-height: 50px;
    box-shadow:0px 4px 4px 0px rgba(0,0,0,0.3)
}

.nav-title {
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
    padding: 5px 10px;
    padding:12px 0px 12px 0px;
    color: white;
    border-radius: 0px 12px 0px 0px;
    border-bottom: 1px solid black;
}

.nav-box-element {
    position: relative;
    max-width: 100%;
    min-height: 5px;
    padding: 12px 0px 12px 32px;
    font-size: 1vw;
    color: #3E5444;
    background-color: white;
    transition: ease-in-out 0.3s;
}

.nav-box-element-last {
    position: relative;
    max-width: 100%;
    min-height: 5px;
    padding: 12px 0px 12px 32px;
    font-size: 1vw;
    color: #3E5444;
    border-radius: 0px 0px 12px 0px;
    background-color: white;
    transition: ease-in-out 0.3s;
}

.nav-element {
    font-size: 1vw;
}

.nav-box-element:hover {
    padding-left: 42px;
    background-color: lightgrey;
}

.nav-box-element-last:hover {
    padding-left: 42px;
    background-color: lightgrey;
}
.nav-box-element:hover .nav-icons {
    left: 15px;
}
.nav-icons {
    position: absolute;
    left: 10px;
    top: 12px;
    transition: ease-in-out 0.3s;
}
.settings {
    position: absolute;
    top: 92%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #787171;
    color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 25px;
    transition: ease-in-out 0.2s;
}
.settings-icon {
    width: 1.3vw;
    height: 1.3vw;
    transition: transform ease-in-out 0.3s;
}
.settings:hover .settings-icon {
    transform: rotate(120deg);
}
.settings:hover {
    background-color: #534c4c;
}
.settings p {
    font-size: 1.2vw;
    color: white;
}


/* content */
#data-wrapper {
    display: inline-block;
    margin-left: 18vw;
    margin-top: 10vh;
    margin-bottom: 2vh;
    width: 80vw;
    min-height: 100vh;
}

#profile-container{
    min-height: 80vh;
    width: 75vw;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0px 0px 10px lightgray;
    padding: 15px;
    margin-top: 2vw;
    background: #fff;
}

/* pp */
#profile-picture{   
    width: 100%;
    min-height: 40px;
    margin-bottom: 40px;
}

.profile-headline{
    margin: 0 auto;
    min-height: 1px;
    width: 20vw;
    text-align: center;
    padding: 5px 0px 5px 0px;
    box-shadow: 1px 1px 4px grey;
    border-radius: 50px;
    color: black;
    margin-top: 50px;
    margin-bottom:30px;
}
.profile-headline p {
    font-size: 1.5vw;
}

.picture-container {
    display: flex;
    justify-content: center;
}

.picture {
    margin-bottom: 25px;
    width: 15vw;
    height: 15vw;
    border-radius: 5px;
    background-color: #78717157;
    border: 2px solid black;
    background-size: 100%;
}

.picture-upload-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-for-button input[type="file"] {
    display: none;
}
#upload_file_fields {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.picture-upload {
    
}


/* content */
#profile-data{
    min-height: 100px;
    width: 100%;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height:30px;   
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    border: none;
    outline: none;
}

input {
    border: none;
    text-decoration: none;
}
textarea {
    border:none;
    text-decoration: none;
    font-family: Ubuntu-Regular,sans-serif;
}
.input-icons01 {
    position: relative;
    width: 49%;
 }

 .input-icons02 {
     position: relative;
     width: 100%;
 }

 .input-icons01 .icon {
    position: absolute;
    top: 25px;
    left: 25px;
    color: grey;
    transition: ease-in-out 0.3s;
}

.input-icons02 .icon {
    position: absolute;
    top: 25px;
    left: 25px;
    color: grey;
    transition: ease-in-out 0.3s;
}

.profile-input-form {
    outline: none;
    font-size: 15px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 62px;
    color: black;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.profile-input-form:focus {
    border-bottom: 1px solid rgb(28, 61, 211);
    padding-left: 45px;
}
.profile-input-form:focus ~ .icon {
    color: rgb(28, 61, 211);
    left: 15px;
}

.profile-input-form-suche {
    display: inline-block;
    outline: none;
    font-size: 15px;
    position: relative;
    width: 60vw;
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 62px;
    color: black;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}
.profile-input-form-suche:focus {
    border-bottom: 1px solid rgb(28, 61, 211);
    padding-left: 45px;
}
.profile-input-form-suche:focus ~ .icon {
    color: rgb(28, 61, 211);
    left: 15px;
}

.profile-data-content {
    padding: 25px 0px 0px 0px;
    
}

.pillar-l {
    padding-left: 20px;
    float: left;
    min-width: 45%;
    min-height: 1px;
    color: black;
}
.pillar-r {
    padding-left: 20px;
    float: right;
    min-width: 45%;
    min-height: 1px;
    color: black;
}

input {
    padding: 6px;
    width: 90%;
}
 .profile-save-button {
    position: relative;
    width: 15vw;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    font-size: 10px;
    color: #fff;
    background-color: #787171;
    border: 3px solid #787171;
    transition: ease-in-out 0.4s;
}
 .profile-save-button:hover {
     background-color: #534c4c;
     border-color: #534c4c;
     width: 20vw;
 }
 .box-for-button h2 {
     font-size: 1.2vw;
     text-align: center;
 }
 .profile-save-button-suche {
    position: relative;
    width: 10vw;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    font-size: 10px;
    color: #fff;
    background-color: #787171;
    border: 3px solid #787171;
    transition: ease-in-out 0.4s;
}
 .profile-save-button-suche:hover {
     background-color: #534c4c;
     border-color: #534c4c;
 }
 .box-for-button {
     display: flex;
     justify-content: center;
     width: 100%;
 }

/* resume */
.profile-resume {
    margin-top: 40px;
}

#profile-description{
    
}



#profile-files{
    width:100%;
}

/* footer */
#footer-container{
    color: #fff;
    min-height: 30vh;
    width: 84%;
    margin-left: 16%;
    background-color: #787171;
    padding-bottom: 20px;
}
.copyright {
    text-align: center;
    color: white;
}
.footer-center {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    margin-bottom: 10px;
    padding-top: 30px;
    width: 50vw;
    height: 20vh;
}
.footer-center .column {
    text-align: center;
    width: 30%;
    height: 20vh;
}
.icon-div {
    text-align: center;
    width: 10%;
    height: 20vh;
}
.social-icons {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    color: white;
}
.social-icons a {
    text-decoration: none;
    color: white;
}
.column p {
    color: white;
}

/** Jobsuche **/
#job-container {
    display: inline-block;
    width: 100%;
    padding: 5px;
}
.joboffer {
    display: inline-block;
    width: 40%;
    padding: 5px;
    box-shadow: 1px 1px 2px grey;
    border-radius: 2px;
    background-color: #78717118;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
}

/** Popup forms **/
.content-wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    border-radius: 5px;
    margin-left: -200px;
    margin-top: -200px;
    overflow: hidden;
    background: 0 0;
    background-color: #787171;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.headline {
    color: #fff;
    padding: 10px 12px;
    font-size: 1.6vw;
 }
 .popup-background-hide {
     width: 100%;
     height: 100%;
     top:0%;
     left: 0%;
     background-color: #4e4a4a50;
     position: fixed;
     opacity: 0;
     z-index: -1;
 }
 .popup-background-show {
    width: 100%;
    height: 100%;
    top:0%;
    left: 0%;
    background-color: #4e4a4a50;
    position: fixed;
    z-index: 10;
}
 .form-save-button {
    position: relative;
    width: 15vw;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    font-size: 10px;
    color: #fff;
    background-color: #787171;
    border: 3px solid #fff;
    transition: ease-in-out 0.4s;
}
 .form-save-button:hover {
     background-color: #534c4c;
     border-color: #534c4c;
     width: 20vw
 }
 .form-close {
     color: #fff;
     position: absolute;
     font-size: 6vw;
     left: 91%;
     top: 2.5%;
 }

 /* job-suggestions */
 #suggestion-container {
    min-height: 80vh;
    width: 80vw;
    margin: auto;
    margin-top: 2vw;
    margin-left: -0.5vw;
    margin-bottom: 1vw;
    background: #fff;
    float: left;
 }
 .job_sugg {
    display: inline-block;
    width: 25vw;
    min-height: 15vw;
    box-shadow: 0px 0px 4px grey;
    border-radius: 6px;
    background-color: #78717111;
    margin: 0.7vw;
 }
 .job_unterteilung {
     width: 24vw;
     min-height: 4vw;
     background-color: rgb(238, 238, 238);
    /*border: 1px solid red;*/
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
 }
 .job_buttons {
     width: 23vw;
     display: flex;
     justify-content: space-around;
     padding: 1vw;
     /*border: 1px solid red;*/
 }
 #job_button {
    padding: 0.7vw 2vw 0.7vw 2vw;
    border-radius: 8px
 }
 #job_button p {
     color: white;
 }
 .job_save {
     background-color: rgb(125, 198, 125);
     transition: ease-in-out 0.2s;
 }
 .job_save:hover {
     background-color: rgb(101, 169, 101);
 }
 .job_more {
     background-color: rgb(125, 125, 255);
     transition: ease-in-out 0.2s;
 }
 .job_more:hover {
     background-color: rgb(83, 83, 172)
 }
hr {
    background-color: whitesmoke;
    margin: 0px;
}

/* saved_senior */
.saved_job_delete {
    background-color: rgb(255, 111, 111);
    transition: ease-in-out 0.2s;
}
.saved_job_delete:hover {
    background-color: rgb(218, 66, 66);
}